.hero-section {
    @include nav-height();

    .hero {
        @include make-col-ready(false);

        background-image: url("/assets/images/home/hero-homepage_x1.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 70vh;

        @include media-breakpoint-up(lg) {
            background-image: url("/assets/images/home/hero-homepage_x2.jpg");
        }
    }

    .strapline {
        @include make-col-ready(true);
        @include make-col(12);

        padding-top: $spacing;
        padding-bottom: $spacing;
        background-color: $color-primary-burra;

        .container-custom {
            text-align: center;
            margin-bottom: 1rem;

            h1 {
                @include Title;
                display: inline-block;
                margin-bottom: 0;
            }
        }

        select {
            background-color: $color-white;
            text-align-last: center;

            @include media-breakpoint-up(sm) {
                width: auto;
                @include center;
            }
        }

        // .dropdown {
        //     text-align: center;

        //     .btn {
        //         @include Buttons;
        //         background-color: $color-white;
        //         border-radius: 0;
        //     }
        // }
    }

    .sub {
        @include make-col-ready(true);
        @include make-col(12);

        padding-top: $spacing;
        padding-bottom: $spacing;

        background-color: $color-silkash;
        text-align: center;

        // @include media-breakpoint-up(sm) {
        //     padding-top: $spacing;
        //     padding-bottom: $spacing;
        // }
    }
}

.streetscene {
    background-color: $color-primary-mill-tail;
    padding-top: $spacing;
    padding-bottom: $spacing;

    @include media-breakpoint-up(md) {
        padding-top: $spacing * 2;
        padding-bottom: 0;
    }

    @include media-breakpoint-up(lg) {
        padding-bottom: $spacing * 2;
    }

    // .container-custom {
    //     @include media-breakpoint-up(sm) {
    //         //padding-bottom: $spacing;
    //     }
    // }

    .row {
        align-items: center;
    }

    .image {
        @include make-col-ready(false); //

        @include media-breakpoint-up(md) {
            @include make-col-ready();
            @include make-col(6);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(7);
        }

        margin-bottom: $spacing;

        p {
            text-align: center;

            // @include media-breakpoint-up(md) {
            //     margin-bottom: 0; //took out
            // }
        }

        img {
            width: 100%;
            height: 15rem;
            object-fit: cover;
            object-position: 20% 50%;

            @include media-breakpoint-up(sm) {
                object-position: 0;
                object-fit: fill;
                height: 20rem;
            }
        }
    }

    .text {
        @include make-col-ready(false);

        @include media-breakpoint-up(sm) {
            @include make-col-ready();
        }

        @include media-breakpoint-up(md) {
            @include make-col(6);

            //https:/ /developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mixins
            //This article provides a set of mixins for those who want to mess around with flexbox using the native support of current browsers.
            // @include flexbox() ;
            // @include flex-direction(column);
            // @include justify-content(center);

            // display: flex;
            // flex-direction: column;
            // justify-content: center;
        }

        @include media-breakpoint-up(lg) {
            @include make-col(5);

            padding-right:$spacing * 4
        }

        @include media-breakpoint-up(xl) {
            @include make-col(4);
        }

        .intro {
            padding-left: $spacing * 2;
            padding-right: $spacing;

            @include media-breakpoint-up(sm) {
                padding-left: 0;
                //padding-right: 0;//took out
            }
        }
    }

    .extra {
        @include media-breakpoint-up(xl) {
            @include make-col(1);
        }
    }
}

.discover {
    background-color: $color-silkash;
    padding-bottom: $spacing * 3;

    @include media-breakpoint-up(md) {
        padding-top: $spacing;
    }

    @include media-breakpoint-up(lg) {
        padding-top: $spacing * 2;
        padding-bottom: $spacing * 1;
        margin-bottom: 4.6875rem; //75px;for offset image
    }

    @include media-breakpoint-up(xl) {
        padding-bottom: $spacing * 4;
    }

    .container-custom {
        @include create-container-fluid;

        @include media-breakpoint-up(lg) {
            //padding-bottom: $spacing;
            @include create-container
        }
    }

    .row {
        align-items: center;

        @include media-breakpoint-up(lg) {
            position: relative; //for offset image
        }
    }

    .image {
        @include make-col-ready(false);

        margin-bottom: $spacing;

        @include media-breakpoint-up(md) {
            @include make-col-ready();
            @include make-col(6);
            @include order(1);
            margin-bottom: 0;
        }

        @include media-breakpoint-up(lg) {
            @include make-col(7);
        }

        picture {
            @include media-breakpoint-up(lg) {
                position: absolute; //for offset image
                top: -8.4375rem; //for offset image
            }
        }

        img {
            width: 100%;
            padding-left: $spacing * 2;
            height: 15rem;

            @include media-breakpoint-up(sm) {
                height: auto;
                padding-left: 0;
            }
        }

        .arrow {
            display: none;
        }
    }

    .text {
        @include make-col-ready(false);

        @include media-breakpoint-up(sm) {
            @include make-col-ready();
        }

        @include media-breakpoint-up(md) {
            @include make-col(6);
            @include order(0);
        }

        @include media-breakpoint-up(lg) {
            @include make-col(5);
        }

        .intro {
            padding-left: $spacing * 2;
            padding-right: $spacing;

            @include media-breakpoint-up(sm) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}

.news {
    padding-top: $spacing;
    padding-bottom: $spacing;
    padding-left: $spacing;

    @include media-breakpoint-up(sm) {
        padding-left: 0;
    }

    .carousel {
        @include make-col-ready();

        .carousel-inner {
            @include media-breakpoint-up(lg) {
                width: 150%; //changes design
                left: -25%;
            }
        }
    }

    .item-sneek {
        float: left;
        width: 30%;
        background-size: cover;
        // height: 400px;

        @include media-breakpoint-up(md) {
            width: 15%;
        }

        // @include media-breakpoint-up(lg) {
        //     width: 33%; //changes design
        // }

        &:first-child {
            @include media-breakpoint-up(lg) {
                width: 25%; //changes design
            }

            img {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }

            .item-desc {
                @include media-breakpoint-up(lg) {
                    width: 100%;
                }
            }
        }

        &:nth-child(2) {
            @include media-breakpoint-up(lg) {
                width: 50%; //changes design
                padding-left: 5%;
                padding-right: 5%;
            }
        }

        &:last-child {
            @include media-breakpoint-up(lg) {
                width: 25%; //changes design
            }

            img {
                @include media-breakpoint-up(lg) {
                    width: 100%;
                }
            }

            .item-desc {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }

        }
    }

    .item-article {
        margin-right: 0.5rem;

        // &:first-child {
        //     margin-left: 0;
        // }

        @include media-breakpoint-up(lg) {
            display: flex; //changes design
        }

        img {
            height: 15rem;
            width: 100%;
            object-fit: fill;

            @include media-breakpoint-up(lg) {
                width: 50%; //changes design
                height: 17rem;
                object-fit: cover;
            }

            @include media-breakpoint-up(xl) {
                height: 25rem;
            }
        }

        .item-desc {
            background-color: $color-primary-burra;
            padding: $spacing;
            height: 15rem;

            @include media-breakpoint-up(lg) {
                width: 50%; //changes design
                height: 17rem;
            }

            @include media-breakpoint-up(xl) {
                padding: $spacing * 2;
                height: 25rem;
            }

            position: relative;

            .btn {
                position: absolute;
                bottom: $spacing;
                left: $spacing;

                @include media-breakpoint-up(xl) {
                    bottom: $spacing * 2;
                    left: $spacing * 2;
                }
            }
        }
    }

    .carousel-controls {
        @include make-col-ready();

        display: flex;
        justify-content: space-between;

        padding-left: $spacing * 2;
        padding-right: $spacing * 2;

        margin-top: 0.5rem;

        @include media-breakpoint-up(sm) {
            padding-left: $spacing;
            padding-right: $spacing* 3;
        }

        .carousel-control-prev,
        .carousel-control-next {
            opacity: 1;

            @include media-breakpoint-down(md) { //NB: Down
                position: relative;
                white-space: nowrap;
                color: $color-primary-dimmity;
            }

            &:hover {
                color: $color-primary-burra;
                opacity: 1;
            }

            img {
                height: 1rem;

                @include media-breakpoint-up(lg) {
                    height: 2rem;
                }
            }

            @include media-breakpoint-up(lg) {
                top: -25.75rem;
                width: 33%;

                span {
                    display:none;
                }
            }
        }

        .carousel-control-prev {
            img {
                transform: rotate(90deg);
            }
        }

        .carousel-control-next {
            img {
                transform: rotate(-90deg);
            }
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            display: none;
        }
    }
}

.keep-in-touch {
    padding-top: $spacing;
    padding-bottom: $spacing * 2;
    padding-left: $spacing;

    @include media-breakpoint-up(sm) {
        padding-left: 0;
    }

    .row {
        justify-content: center;
    }

    .input-form {
        @include make-col-ready();

        @include media-breakpoint-up(md) {
            @include make-col(7);
        }
    }

    h5 {
        margin-bottom: $spacing;
    }
}